In [11]:
import swan_vis as swan

In [12]:
sg = swan.read('swan.p')

Read in graph from swan.p

In [3]:
sg.adata.obs.head()

,dataset,total_counts,batch,sample,mouse_id,genotype,sex,study,age,tissue,biorep_num,platform,talon_run_num
index,,,,,,,,,,,,,
5xBIN1_HO_F_4_months_HC_2,5xBIN1_HO_F_4_months_HC_2,2063701.0,0,5xBIN1_HO_F_4_months_HC,13022,5xBIN1_HO,F,ad005,4_months,HC,2,ONT,1
5xBIN1_HO_F_4_months_HC_1,5xBIN1_HO_F_4_months_HC_1,1615349.0,0,5xBIN1_HO_F_4_months_HC,13019,5xBIN1_HO,F,ad005,4_months,HC,1,ONT,1
BIN1_HO_F_4_months_HC_2,BIN1_HO_F_4_months_HC_2,3957167.0,0,BIN1_HO_F_4_months_HC,13047,BIN1_HO,F,ad005,4_months,HC,2,ONT,1
5xBIN1_HO_F_4_months_HC_3,5xBIN1_HO_F_4_months_HC_3,3269263.0,0,5xBIN1_HO_F_4_months_HC,13053,5xBIN1_HO,F,ad005,4_months,HC,3,ONT,1
BIN1_HO_F_4_months_HC_3,BIN1_HO_F_4_months_HC_3,5867917.0,0,BIN1_HO_F_4_months_HC,13051,BIN1_HO,F,ad005,4_months,HC,3,ONT,2

In [5]:
sg.adata.obs.loc[sg.adata.obs.genotype=='BIN1_HO'].mouse_id
# all are valid but 13051 based on mouse ids in `/share/crsp/lab/model-ad/share/analysis/bulk_novogene/5xBin1/dataexpressionList_sorted.csv`
# head expressionList_sorted.csv | head -1 | grep 13036

index
BIN1_HO_F_4_months_HC_2    13047
BIN1_HO_F_4_months_HC_3    13051
BIN1_HO_F_4_months_HC_1    13036
Name: mouse_id, dtype: object

In [6]:
sg.adata.obs.loc[sg.adata.obs.genotype=='5xBIN1_HO'].mouse_id
# only 13019 is valid

index
5xBIN1_HO_F_4_months_HC_2    13022
5xBIN1_HO_F_4_months_HC_1    13019
5xBIN1_HO_F_4_months_HC_3    13053
Name: mouse_id, dtype: object

In [8]:
sg.adata.obs.loc[sg.adata.obs.genotype=='5xFADWT'].mouse_id
# 11627 and 11629 are good

index
5xFADWT_F_4_months_HC_1    11627
5xFADWT_F_4_months_HC_3    11629
5xFADWT_F_4_months_HC_2    11628
Name: mouse_id, dtype: object

In [9]:
sg.adata.obs.loc[sg.adata.obs.genotype=='5xFADHEMI'].mouse_id
# all are good

index
5xFADHEMI_F_4_months_HC_1    11616
5xFADHEMI_F_4_months_HC_3    11625
5xFADHEMI_F_4_months_HC_2    11617
Name: mouse_id, dtype: object

In [5]:
import pandas as pd

In [6]:
sr_files = ['/share/crsp/lab/model-ad/share/bulkRNA/5x_GWAS/5xBin1/5xBin1_4mo/hipp_F_BIN1_HO_4mo_13047_S16-STARAligned.out.bam',
            '/share/crsp/lab/model-ad/share/bulkRNA/5x_GWAS/5xBin1/5xBin1_4mo/hipp_F_5xFADHEMI_BIN1_HO_4mo_13019_S1-STARAligned.out.bam',
            '/share/crsp/lab/model-ad/share/bulkRNA/5x_GWAS/5xGWAScontrols_4mo_2021July/hipp_F_5xFADWT_4mo_11627_S43-STARAligned.out.bam',
            '/share/crsp/lab/model-ad/share/bulkRNA/5x_GWAS/5xGWAScontrols_4mo_2021July/hipp_F_5xFADHEMI_4mo_11616_S21-STARAligned.out.bam']
sr_df = pd.DataFrame(data=sr_files, columns=['fname'])
sr_df['mouse_id'] = sr_df['fname'].str.rsplit('_', n=3, expand=True)[2]

In [13]:
sg.adata.obs.loc[sg.adata.obs.mouse_id.isin(sr_df.mouse_id.tolist())]

,dataset,total_counts,batch,sample,mouse_id,genotype,sex,study,age,tissue,biorep_num,platform,talon_run_num
index,,,,,,,,,,,,,
5xBIN1_HO_F_4_months_HC_1,5xBIN1_HO_F_4_months_HC_1,1615349.0,0,5xBIN1_HO_F_4_months_HC,13019,5xBIN1_HO,F,ad005,4_months,HC,1,ONT,1
BIN1_HO_F_4_months_HC_2,BIN1_HO_F_4_months_HC_2,3957167.0,0,BIN1_HO_F_4_months_HC,13047,BIN1_HO,F,ad005,4_months,HC,2,ONT,1
5xFADHEMI_F_4_months_HC_1,5xFADHEMI_F_4_months_HC_1,4956181.0,1,5xFADHEMI_F_4_months_HC,11616,5xFADHEMI,F,ad003,4_months,HC,1,ONT,1
5xFADWT_F_4_months_HC_1,5xFADWT_F_4_months_HC_1,4943353.0,1,5xFADWT_F_4_months_HC,11627,5xFADWT,F,ad003,4_months,HC,1,ONT,3

In [3]:
f = '/share/crsp/lab/model-ad/share/bulkRNA/5x_GWAS/5xBin1/5xBin1_4mo/hipp_F_BIN1_HO_4mo_13047_S16-STARAligned.out.bam'
f.rsplit('_', 3)[2]

'13047'