In [2]:
import pandas as pd
import pdb
import numpy as np
import itertools
from snakemake.io import expand
import yaml
import os
import sys
import pathlib
import pyranges as pr
import cerberus 
import swan_vis as swan

p = os.path.dirname(os.getcwd())
sys.path.append(p)

from utils import *
from sm_utils import *
from humanized_utils import *

In [3]:
config_file = 'config.yml'
with open(config_file) as f:
    config = yaml.safe_load(f)

In [4]:
swan_file = expand(config['swan']['swan_graph'], 
                   analysis='hABKI_Swe_IB_HET_WT')[0]

In [6]:
sg = swan.read(swan_file)

Read in graph from data/swan/hABKI_Swe_IB_HET_WT/swan_graph.p

In [7]:
sg.adata.obs.head()

,dataset,total_counts,batch,mouse_id,study,genotype,sex,age,tissue,biorep_num
dataset,,,,,,,,,,
hABKI_Swe_IB_HET_F_8_weeks_HC_1,hABKI_Swe_IB_HET_F_8_weeks_HC_1,4864720.0,0,19613,ad008,hABKI_Swe_IB_HET,F,8_weeks,HC,1
hABKI_Swe_IB_HET_F_8_weeks_HC_2,hABKI_Swe_IB_HET_F_8_weeks_HC_2,5706665.0,0,19614,ad008,hABKI_Swe_IB_HET,F,8_weeks,HC,2
hABKI_Swe_IB_HET_F_8_weeks_HC_3,hABKI_Swe_IB_HET_F_8_weeks_HC_3,3149221.0,0,20564,ad008,hABKI_Swe_IB_HET,F,8_weeks,HC,3
hABKI_Swe_IB_HET_M_8_weeks_HC_3,hABKI_Swe_IB_HET_M_8_weeks_HC_3,6563375.0,0,19994,ad008,hABKI_Swe_IB_HET,M,8_weeks,HC,3
hABKI_Swe_IB_HET_M_8_weeks_HC_1,hABKI_Swe_IB_HET_M_8_weeks_HC_1,5149424.0,0,19573,ad008,hABKI_Swe_IB_HET,M,8_weeks,HC,1

In [9]:
sg.adata.obs.sex.unique()

array(['F', 'M'], dtype=object)

In [ ]:
# compare genotypes for f, m, and f+m